example1/example1/example1.vcxproj.user
example1/example1/example1.vcxproj.filters
example1/example1/example1.vcxproj
example1/example1.sln
example1/.vs/example1/v15/ipch/AutoPCH/7c97f91015eb4a6e/MAIN.ipch
example1/.vs/example1/v15/Browse.VC.opendb
example1/.vs/example1/v15/Browse.VC.db
example1/.vs/example1/v15/.suo
example1/x64/Debug/example1.pdb
example1/x64/Debug/example1.ilk
example1/x64/Debug/example1.exe
example1/example1/x64/Debug/vc141.pdb
example1/example1/x64/Debug/vc141.idb
example1/example1/x64/Debug/main.obj
example1/example1/x64/Debug/example1.tlog/link.write.1.tlog
example1/example1/x64/Debug/example1.tlog/link.read.1.tlog
example1/example1/x64/Debug/example1.tlog/link.command.1.tlog
example1/example1/x64/Debug/example1.tlog/example1.lastbuildstate
example1/example1/x64/Debug/example1.tlog/CL.write.1.tlog
example1/example1/x64/Debug/example1.tlog/CL.read.1.tlog
example1/example1/x64/Debug/example1.tlog/CL.command.1.tlog
example1/example1/x64/Debug/example1.log
example1/example1/result.bmp
example1/example1/Debug/vc141.pdb
example1/example1/Debug/vc141.idb
example1/example1/Debug/example1.tlog/unsuccessfulbuild
example1/example1/Debug/example1.tlog/example1.lastbuildstate
example1/example1/Debug/example1.tlog/CL.write.1.tlog
example1/example1/Debug/example1.tlog/CL.read.1.tlog
example1/example1/Debug/example1.tlog/CL.command.1.tlog
example1/example1/Debug/example1.log
example1/example1/opencv_world330d.dll
example1/example1/opencv_world330.dll
