example1/example1/example1.vcxproj.user
example1/example1/example1.vcxproj.filters
example1/example1/example1.vcxproj
example1/example1.sln
example1/.vs/example1/v15/ipch/AutoPCH/7c97f91015eb4a6e/MAIN.ipch
example1/.vs/example1/v15/Browse.VC.opendb
example1/.vs/example1/v15/Browse.VC.db
example1/.vs/example1/v15/.suo
example1/x64/Debug/example1.pdb
example1/x64/Debug/example1.ilk
example1/x64/Debug/example1.exe
example1/example1/x64/Debug/vc141.pdb
example1/example1/x64/Debug/vc141.idb
example1/example1/x64/Debug/main.obj
example1/example1/x64/Debug/example1.tlog/link.write.1.tlog
example1/example1/x64/Debug/example1.tlog/link.read.1.tlog
example1/example1/x64/Debug/example1.tlog/link.command.1.tlog
example1/example1/x64/Debug/example1.tlog/example1.lastbuildstate
example1/example1/x64/Debug/example1.tlog/CL.write.1.tlog
example1/example1/x64/Debug/example1.tlog/CL.read.1.tlog
example1/example1/x64/Debug/example1.tlog/CL.command.1.tlog
example1/example1/x64/Debug/example1.log
example1/example1/result.bmp
example1/example1/Debug/vc141.pdb
example1/example1/Debug/vc141.idb
example1/example1/Debug/example1.tlog/unsuccessfulbuild
example1/example1/Debug/example1.tlog/example1.lastbuildstate
example1/example1/Debug/example1.tlog/CL.write.1.tlog
example1/example1/Debug/example1.tlog/CL.read.1.tlog
example1/example1/Debug/example1.tlog/CL.command.1.tlog
example1/example1/Debug/example1.log
example1/example1/opencv_world330d.dll
example1/example1/opencv_world330.dll
demo_Client/demo_Client.sln
demo_Client/Debug/demo_Client.pdb
demo_Client/.vs/demo_Client/v15/ipch/AutoPCH/7a6409c425886078/CLIENT.ipch
demo_Client/.vs/demo_Client/v15/Browse.VC.db
demo_Client/.vs/demo_Client/v15/.suo
demo_Server/demo_Server/opencv_world330d.dll
demo_Server/demo_Server/opencv_world330.dll
demo_Server/demo_Server/demo_Server.vcxproj.filters
demo_Server/demo_Server/demo_Server.vcxproj
demo_Server/demo_Server.sln
demo_Server/Debug/demo_Server.pdb
demo_Server/Debug/demo_Server.ilk
demo_Server/Debug/demo_Server.exe
demo_Server/.vs/demo_Server/v15/ipch/AutoPCH/b9ce02b4730ac118/SERVER.ipch
demo_Server/.vs/demo_Server/v15/ipch/AutoPCH/8ca87c869daba498/SERVER.ipch
demo_Server/.vs/demo_Server/v15/Browse.VC.db
demo_Server/.vs/demo_Server/v15/.suo
demo_Client/x64/Debug/demo_Client.pdb
demo_Client/x64/Debug/demo_Client.ilk
demo_Client/x64/Debug/demo_Client.exe
demo_Client/demo_Client/x64/Debug/vc141.pdb
demo_Client/demo_Client/x64/Debug/vc141.idb
demo_Client/demo_Client/x64/Debug/demo_Client.tlog/link.write.1.tlog
demo_Client/demo_Client/x64/Debug/demo_Client.tlog/link.read.1.tlog
demo_Client/demo_Client/x64/Debug/demo_Client.tlog/link.command.1.tlog
demo_Client/demo_Client/x64/Debug/demo_Client.tlog/demo_Client.lastbuildstate
demo_Client/demo_Client/x64/Debug/demo_Client.tlog/CL.write.1.tlog
demo_Client/demo_Client/x64/Debug/demo_Client.tlog/CL.read.1.tlog
demo_Client/demo_Client/x64/Debug/demo_Client.tlog/CL.command.1.tlog
demo_Client/demo_Client/x64/Debug/demo_Client.log
demo_Client/demo_Client/x64/Debug/client.obj
demo_Client/demo_Client/opencv_world330d.dll
demo_Client/demo_Client/opencv_world330.dll
demo_Client/demo_Client/demo_Client.vcxproj.filters
demo_Client/demo_Client/demo_Client.vcxproj
demo_Client/demo_Client/Debug/vc141.pdb
demo_Client/demo_Client/Debug/vc141.idb
demo_Client/demo_Client/Debug/demo_Client.tlog/unsuccessfulbuild
demo_Client/demo_Client/Debug/demo_Client.tlog/link.write.1.tlog
demo_Client/demo_Client/Debug/demo_Client.tlog/link.read.1.tlog
demo_Client/demo_Client/Debug/demo_Client.tlog/link.command.1.tlog
demo_Client/demo_Client/Debug/demo_Client.tlog/link.6308.write.1.tlog
demo_Client/demo_Client/Debug/demo_Client.tlog/link.6308.read.1.tlog
demo_Client/demo_Client/Debug/demo_Client.tlog/demo_Client.lastbuildstate
demo_Client/demo_Client/Debug/demo_Client.tlog/CL.write.1.tlog
demo_Client/demo_Client/Debug/demo_Client.tlog/CL.read.1.tlog
demo_Client/demo_Client/Debug/demo_Client.tlog/CL.command.1.tlog
demo_Client/demo_Client/Debug/demo_Client.log
demo_Client/demo_Client/Debug/client.obj
example1/example1/x64/Release/vc141.pdb
example1/example1/x64/Release/main.obj
example1/example1/x64/Release/example1.tlog/unsuccessfulbuild
example1/example1/x64/Release/example1.tlog/link.write.1.tlog
example1/example1/x64/Release/example1.tlog/link.read.1.tlog
example1/example1/x64/Release/example1.tlog/link.command.1.tlog
example1/example1/x64/Release/example1.tlog/example1.lastbuildstate
example1/example1/x64/Release/example1.tlog/CL.write.1.tlog
example1/example1/x64/Release/example1.tlog/CL.read.1.tlog
example1/example1/x64/Release/example1.tlog/CL.command.1.tlog
example1/example1/x64/Release/example1.log
example1/example1/x64/Debug/test_Client.obj
example1/example1/x64/Debug/example1.tlog/unsuccessfulbuild
example1/example1/x64/Debug/example1.tlog/link.5092.write.1.tlog
example1/example1/x64/Debug/example1.tlog/link.5092.read.1.tlog
example1/example1/test_Server.cpp
example1/example1/test_Client.cpp
example1/example1/stdafx.h
example1/example1/stdafx.cpp
example1/example1/Debug/test_Client.obj
example1/example1/Debug/example1.tlog/link.write.1.tlog
example1/example1/Debug/example1.tlog/link.read.1.tlog
example1/example1/Debug/example1.tlog/link.command.1.tlog
example1/example1/Common/udpserver.h
example1/example1/Common/udpserver.cpp
example1/example1/Common/udpclient.h
example1/example1/Common/udpclient.cpp
example1/example1/Common/tcpserver.h
example1/example1/Common/tcpserver.cpp
example1/example1/Common/tcpclient.h
example1/example1/Common/tcpclient.cpp
example1/example1/Common/streamingsender.h
example1/example1/Common/streamingsender.cpp
example1/example1/Common/streamingreceiver.h
example1/example1/Common/streamingreceiver.cpp
example1/example1/Common/streaming.h
example1/example1/Common/session.h
example1/example1/Common/session.cpp
example1/example1/Common/protocol.h
example1/example1/Common/packetqueue.h
example1/example1/Common/packetqueue.cpp
example1/example1/Common/network.h
example1/example1/Common/launcher.h
example1/example1/Common/launcher.cpp
example1/example1/Common/dxcaptureutil.h
example1/example1/Common/dxcaptureutil.cpp
example1/example1/Common/dxcapture.h
example1/example1/Common/dxcapture.cpp
example1/.vs/example1/v15/ipch/AutoPCH/ff5ca9c54b588789/TEST_SERVER.ipch
example1/.vs/example1/v15/ipch/AutoPCH/87213505b5e832fe/MAIN.ipch
example1/.vs/example1/v15/ipch/AutoPCH/353d75ef3ab01275/TEST_CLIENT.ipch
demo_Server/x64/Debug/demo_Server.pdb
demo_Server/x64/Debug/demo_Server.ilk
demo_Server/x64/Debug/demo_Server.exe
demo_Server/demo_Server/x64/Debug/vc141.pdb
demo_Server/demo_Server/x64/Debug/vc141.idb
demo_Server/demo_Server/x64/Debug/server.obj
demo_Server/demo_Server/x64/Debug/demo_Server.tlog/link.write.1.tlog
demo_Server/demo_Server/x64/Debug/demo_Server.tlog/link.read.1.tlog
demo_Server/demo_Server/x64/Debug/demo_Server.tlog/link.command.1.tlog
demo_Server/demo_Server/x64/Debug/demo_Server.tlog/demo_Server.lastbuildstate
demo_Server/demo_Server/x64/Debug/demo_Server.tlog/CL.write.1.tlog
demo_Server/demo_Server/x64/Debug/demo_Server.tlog/CL.read.1.tlog
demo_Server/demo_Server/x64/Debug/demo_Server.tlog/CL.command.1.tlog
demo_Server/demo_Server/x64/Debug/demo_Server.log
demo_Server/demo_Server/Debug/vc141.pdb
demo_Server/demo_Server/Debug/vc141.idb
demo_Server/demo_Server/Debug/server.obj
demo_Server/demo_Server/Debug/demo_Server.tlog/link.write.1.tlog
demo_Server/demo_Server/Debug/demo_Server.tlog/link.read.1.tlog
demo_Server/demo_Server/Debug/demo_Server.tlog/link.command.1.tlog
demo_Server/demo_Server/Debug/demo_Server.tlog/demo_Server.lastbuildstate
demo_Server/demo_Server/Debug/demo_Server.tlog/CL.write.1.tlog
demo_Server/demo_Server/Debug/demo_Server.tlog/CL.read.1.tlog
demo_Server/demo_Server/Debug/demo_Server.tlog/CL.command.1.tlog
demo_Server/demo_Server/Debug/demo_Server.log
Client/Client/Client.sln
Client/Client/.vs/Client/v15/ipch/AutoPCH/163f22819b9dc024/CLIENT.ipch
Client/Client/.vs/Client/v15/Browse.VC.db
Client/Client/.vs/Client/v15/.suo
Server/Server/Server/opencv_world330d.dll
Server/Server/Server/opencv_world330.dll
Server/Server/Server.sln
Server/Server/Debug/Server.pdb
Server/Server/Debug/Server.ilk
Server/Server/Debug/Server.exe
Server/Server/.vs/Server/v15/ipch/AutoPCH/a6dfb7df1b7fdec4/SERVER.ipch
Server/Server/.vs/Server/v15/Browse.VC.db
Server/Server/.vs/Server/v15/.suo
Client/Client/x64/Debug/Client.pdb
Client/Client/x64/Debug/Client.ilk
Client/Client/x64/Debug/Client.exe
Client/Client/Client/x64/Debug/vc141.pdb
Client/Client/Client/x64/Debug/vc141.idb
Client/Client/Client/x64/Debug/client.obj
Client/Client/Client/x64/Debug/Client.tlog/link.write.1.tlog
Client/Client/Client/x64/Debug/Client.tlog/link.read.1.tlog
Client/Client/Client/x64/Debug/Client.tlog/link.command.1.tlog
Client/Client/Client/x64/Debug/Client.tlog/Client.lastbuildstate
Client/Client/Client/x64/Debug/Client.tlog/CL.write.1.tlog
Client/Client/Client/x64/Debug/Client.tlog/CL.read.1.tlog
Client/Client/Client/x64/Debug/Client.tlog/CL.command.1.tlog
Client/Client/Client/x64/Debug/Client.log
Client/Client/Client/opencv_world330d.dll
Client/Client/Client/opencv_world330.dll
Client/Client/Client/Debug/vc141.pdb
Client/Client/Client/Debug/vc141.idb
Client/Client/Client/Debug/client.obj
Client/Client/Client/Debug/Client.tlog/unsuccessfulbuild
Client/Client/Client/Debug/Client.tlog/link.write.1.tlog
Client/Client/Client/Debug/Client.tlog/link.read.1.tlog
Client/Client/Client/Debug/Client.tlog/link.command.1.tlog
Client/Client/Client/Debug/Client.tlog/Client.lastbuildstate
Client/Client/Client/Debug/Client.tlog/CL.write.1.tlog
Client/Client/Client/Debug/Client.tlog/CL.read.1.tlog
Client/Client/Client/Debug/Client.tlog/CL.command.1.tlog
Client/Client/Client/Debug/Client.log
Client/Client/Client/Client.vcxproj.filters
Client/Client/Client/Client.vcxproj
Server/Server/x64/Debug/Server.exe
Server/Server/Server/x64/Debug/vc141.pdb
Server/Server/Server/x64/Debug/vc141.idb
Server/Server/Server/x64/Debug/server.obj
Server/Server/Server/x64/Debug/Server.tlog/link.write.1.tlog
Server/Server/Server/x64/Debug/Server.tlog/link.read.1.tlog
Server/Server/Server/x64/Debug/Server.tlog/link.command.1.tlog
Server/Server/Server/x64/Debug/Server.tlog/Server.lastbuildstate
Server/Server/Server/x64/Debug/Server.tlog/CL.write.1.tlog
Server/Server/Server/x64/Debug/Server.tlog/CL.read.1.tlog
Server/Server/Server/x64/Debug/Server.tlog/CL.command.1.tlog
Server/Server/Server/x64/Debug/Server.log
Server/Server/Server/Server.vcxproj.filters
Server/Server/Server/Server.vcxproj
Server/Server/Server/Debug/vc141.pdb
Server/Server/Server/Debug/vc141.idb
Server/Server/Server/Debug/server.obj
Server/Server/Server/Debug/Server.tlog/link.write.1.tlog
Server/Server/Server/Debug/Server.tlog/link.read.1.tlog
Server/Server/Server/Debug/Server.tlog/link.command.1.tlog
Server/Server/Server/Debug/Server.tlog/Server.lastbuildstate
Server/Server/Server/Debug/Server.tlog/CL.write.1.tlog
Server/Server/Server/Debug/Server.tlog/CL.read.1.tlog
Server/Server/Server/Debug/Server.tlog/CL.command.1.tlog
Server/Server/Server/Debug/Server.log
Server/Server/x64/Debug/Server.ilk
Server/Server/x64/Debug/Server.pdb
